In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
def readData(filename):
    fs = open('dataset/' + filename + '.dat', 'r')    
    data = [line.strip().split('::') for line in fs]  
    fs.close()                                        
    return data
    
def trimLists(users, ratings):
    for u in users:
        del u[-1]    # remove last column: zipcode
        del u[-1]    # remove last column: occupation
    
    for r in ratings:
        del r[-1]    # remove last column: timestamp

In [33]:
users   = readData('users')
movies  = readData('movies')
ratings = readData('ratings')
trimLists(users, ratings)

In [34]:
nrFemale = sum(1 for x in users if x[1] == 'F')
nrMale   = len(users) - nrFemale

print 'Female users: ' + `nrFemale` + '   (' + `len(users)` + ' total users)'
print 'Male   users: ' + `nrMale`   + '   (' + `len(users)` + ' total users)'

Female users: 1709   (6040 total users)
Male   users: 4331   (6040 total users)

In [35]:
udf = pd.DataFrame({ 'UserID' : pd.Series(row[0] for row in users),
                     'Gender' : pd.Series(row[1] for row in users),
                     'Age'    : pd.Series(row[2] for row in users)})

In [36]:
mdf = pd.DataFrame({ 'MovieID' : pd.Series(row[0] for row in movies),
                     'Title'   : pd.Series(row[1] for row in movies),
                     'Genres'  : pd.Series(row[2] for row in movies)})

In [37]:
rdf = pd.DataFrame({ 'UserID'  : pd.Series(row[0] for row in ratings),
                     'MovieID' : pd.Series(row[1] for row in ratings),
                     'Rating'  : pd.Series(row[2] for row in ratings)})

In [39]:
udf.head()

  Age Gender UserID
0   1      F      1
1  56      M      2
2  25      M      3
3  45      M      4
4  25      M      5

In [40]:
mdf.head()

                         Genres MovieID                               Title
0   Animation|Children's|Comedy       1                    Toy Story (1995)
1  Adventure|Children's|Fantasy       2                      Jumanji (1995)
2                Comedy|Romance       3             Grumpier Old Men (1995)
3                  Comedy|Drama       4            Waiting to Exhale (1995)
4                        Comedy       5  Father of the Bride Part II (1995)

In [41]:
rdf.head()

  MovieID Rating UserID
0    1193      5      1
1     661      3      1
2     914      3      1
3    3408      4      1
4    2355      5      1

In [50]:
result = pd.merge(pd.merge(udf, rdf, on='UserID'), mdf, on='MovieID')

In [51]:
result.head()

,Age,Gender,UserID,MovieID,Rating,Genres,Title
0,1,F,1,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
1,56,M,2,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
2,25,M,12,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
3,25,M,15,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
4,50,M,17,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)

In [53]:
result.loc[result['Rating'].isin(['4','5'])]

,Age,Gender,UserID,MovieID,Rating,Genres,Title
0,1,F,1,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
1,56,M,2,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
2,25,M,12,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
3,25,M,15,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
4,50,M,17,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
5,18,F,18,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
6,1,M,19,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
7,25,F,24,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
9,45,M,33,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
10,18,M,39,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
12,45,M,44,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
13,18,M,47,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
14,25,M,48,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
15,18,M,49,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
16,25,M,53,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
17,50,M,54,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
18,25,M,58,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
19,50,F,59,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
20,35,F,62,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
21,56,M,80,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
22,25,F,81,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
23,45,F,88,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
24,56,F,89,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
25,45,M,95,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
28,35,M,102,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
30,45,M,107,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
32,25,M,120,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
33,35,M,123,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
34,18,M,131,1193,5,Drama,One Flew Over the Cuckoo's Nest (1975)
35,18,M,136,1193,4,Drama,One Flew Over the Cuckoo's Nest (1975)
...,...,...,...,...,...,...,...
1000146,50,M,5021,820,4,Drama,"Death in the Garden (Mort en ce jardin, La) (1..."
1000147,50,M,4169,3337,4,Comedy|Drama,I'll Never Forget What's 'is Name (1967)
1000149,50,M,4169,138,4,Drama,"Neon Bible, The (1995)"
1000151,50,M,4169,530,4,Drama,Second Best (1994)
1000165,1,F,4572,3164,4,Drama,"Alley Cats, The (1968)"
1000167,56,F,4628,1832,4,Action|Drama,Heaven's Burning (1997)
1000168,18,M,4635,439,5,Drama,Dangerous Game (1993)
1000169,56,F,4888,439,4,Drama,Dangerous Game (1993)
1000170,45,F,4651,134,4,Documentary,Sonic Outlaws (1995)
1000171,25,M,5323,134,4,Documentary,Sonic Outlaws (1995)
1000172,50,M,4751,2480,5,Drama,Dry Cleaning (Nettoyage � sec) (1997)
1000173,56,M,5146,2480,4,Drama,Dry Cleaning (Nettoyage � sec) (1997)
1000174,35,M,4766,1842,4,Crime|Drama,Illtown (1996)
1000175,25,F,5878,1842,4,Crime|Drama,Illtown (1996)
1000176,25,F,4790,2309,5,Drama,"Inheritors, The (Die Siebtelbauern) (1998)"
1000177,45,F,4816,2309,4,Drama,"Inheritors, The (Die Siebtelbauern) (1998)"
1000178,45,M,4795,3084,4,Documentary,Home Page (1999)
1000182,25,F,4874,624,4,Action|Drama|Thriller,Condition Red (1995)
1000183,45,M,5059,1434,4,Action,"Stranger, The (1994)"
1000184,45,F,5947,1434,4,Action,"Stranger, The (1994)"
1000188,35,F,5185,404,4,Documentary,Brother Minister: The Assassination of Malcolm...
1000189,25,M,5532,404,5,Documentary,Brother Minister: The Assassination of Malcolm...
1000192,18,F,5754,2543,4,Comedy,Six Ways to Sunday (1997)
1000195,56,M,5313,3656,5,Crime,Lured (1947)
1000196,25,F,5328,2438,4,Drama|Thriller,Outside Ozona (1998)
1000199,56,F,5334,3382,5,Drama,Song of Freedom (1936)
1000202,35,F,5494,3530,4,Comedy,Smoking/No Smoking (1993)
1000204,18,M,5949,2198,5,Documentary,Modulations (1998)
1000207,18,F,5851,3607,5,Comedy|Drama|Western,One Little Indian (1973)
1000208,25,M,5938,2909,4,Documentary,"Five Wives, Three Secretaries and Me (1998)"